
<div class="blank-layout-container justify-content-center align-items-center bg-light">
  <div class="position-relative row w-100 h-100 bg-gredient justify-content-center">
    <div class="col-lg-4 d-flex align-items-center">
      <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-32">
          <div class="text-center">
            <a>
              <img src="./assets/images/logos/splendorart-logo.png" width="200px" class="align-middle m-2" alt="logo" />
            </a>
          </div>

          <form class="m-t-30" [formGroup]="form" (ngSubmit)="submit()">
            <!-- Email -->
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Email</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput formControlName="email" type="email" />
              <mat-error *ngIf="f['email'].errors?.['required']">Email est requis</mat-error>
              <mat-error *ngIf="f['email'].errors?.['email']">Veuillez entrer un email valide</mat-error>
            </mat-form-field>

            <!-- Password -->
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Password</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput formControlName="password" type="password" />
              <mat-error *ngIf="f['password'].errors?.['required']">Mot de passe est requis</mat-error>
              <mat-error *ngIf="f['password'].errors?.['minlength']">Le mot de passe doit contenir au moins 8 caractères</mat-error>
            </mat-form-field>

            <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid || isLoading">
              <span *ngIf="!isLoading">Se connecter</span>
              <span *ngIf="isLoading">
    <mat-spinner diameter="20" color="accent"></mat-spinner>
  </span>
            </button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
